{% extends 'index.html' %}
{% block title %} Add players form {% endblock %}

{% block content %}

<h1>Add players to your team</h1>

<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form 
        if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class="form-control") }}

        {% for error in field.errors %}
        <p class="form-text text-danger">{{ error }}</p>
        {% endfor %}
    </p>
    {% endfor %}

    <button type="submit">Add player</button>
</form>

{% endblock %}