{% extends 'index.html' %}
{% block title %} Register New User {% endblock %}

{% block content %}

<h1>Sign Up</h1>
<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form 
        if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class="form-control") }}

        {% for error in field.errors %}
        <p class="form-text text-danger">{{ error }}</p>
        {% endfor %}
    </p>

    <button type="submit">Register</button>
</form>

{% endblock %}